@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cookie&family=Gravitas+One&family=Imperial+Script&family=Quintessential&family=Rouge+Script&display=swap');
@import "tailwindcss";

body {
    overflow-x: hidden;
}